export PATH=$PWD/bin:$PATH
export APP_HOST=geekstickets.dev
export APP_PORT=5454
export DEPLOY_REMOTE=origin
export DEPLOY_BRANCH=master
export DEPLOY_MESSAGE='Quick GeekFix'
export SLACK_KEY=https://hooks.slack.com/services/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
